@model TransportManagementSystem.Models.RouteInformation

<meta name="viewport" content="width=device-width"/>
<title>Delete</title>
<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet"/>
<link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet"/>
<style>
    .kt { width: 115px; }

    .bt { width: 115px; }

    .dld {
        background-color: #f5f9fd;
        border: 0px;
        border-radius: 10px;
        border-style: outset;
        box-shadow: 0px 0px 20px #d8d4d4;
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 80px;
        padding: 55px 100px;
    }

    #mytable { margin-bottom: 20px; }

    .aa { margin-top: 60px; }
</style>

<div class="dld">
    <h3 style="margin-top: 20px;">Are you sure you want to delete this?</h3>
    <hr/>
    <table id="mytable" class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RouteId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DriverInfoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>

        </tr>
        </thead>


        <tbody>
        <tr>
            <td>
                @Html.DisplayFor(model => model.RouteId)
            </td>
            <td>
                @Html.DisplayFor(model => model.DriverInfoId)
            </td>
            <td>
                @Html.DisplayFor(model => model.StartTime)
            </td>
        </tr>
        </tbody>
    </table>
    <center>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color aa">
                <input type="submit" value="Delete" class="btn btn-danger kt"/> |
                @Html.ActionLink("Back to List", "RouteInformationIndex", null, new {@class = "btn btn-primary bt"})
            </div>
        }
    </center>
</div>

